
jesseduffield/lazygit/state.yml

/FreeCAD/
/autostart/
/chromium/
/coc/
/configstore/
/dconf/
/dingtalk/
/gtk-2.0/
/gtk-3.0/
/htop/
/lazygit/
/libreoffice/
/neofetch/
/netease-cloud-music/
/nitrogen/
/qBittorrent/
QtProject.conf
/fcitx/
/Code - OSS/
/微信/
/Electron/
/GIMP/
/JetBrains/
/Kingsoft/
/QtProject/
/VirtualBox/
/obs-studio/
/vlc/
/pulse/
/google-chrome/
/flameshot/
/cef_user_data/
/Postman/

Trolltech.conf
pavucontrol.ini
/nvim/.netrwhist



nvim/coc-settings.json

mimeapps.list
CuteCom/CuteCom5.conf
/OpenMV/
/.isolated-storage/

/Typora/

/baidunetdisk/

/balena-etcher-electron/

/dingtalklinux/

/fcitx5/
/session/
/tencent-qq/
