
jesseduffield/lazygit/state.yml

/FreeCAD/
/autostart/
/chromium/
/coc/
/configstore/
/dconf/
/dingtalk/
/gtk-2.0/
/gtk-3.0/
/htop/
/lazygit/
/libreoffice/
/neofetch/
/netease-cloud-music/
/nitrogen/
/qBittorrent/
QtProject.conf
/fcitx/
/Code - OSS/
/微信/
/Electron/
/GIMP/
/JetBrains/
/Kingsoft/
/QtProject/
/VirtualBox/
/obs-studio/
/vlc/
/pulse/
/google-chrome/
/flameshot/
/cef_user_data/
/Postman/

Trolltech.conf
pavucontrol.ini
/nvim/.netrwhist



nvim/coc-settings.json

mimeapps.list
CuteCom/CuteCom5.conf
/OpenMV/
/.isolated-storage/

/Typora/

/baidunetdisk/

/balena-etcher-electron/

/dingtalklinux/

/fcitx5/
/session/
/tencent-qq/

DingTalk/dump
DingTalk/log
DingTalk/userdata
DingTalk/wukong
KDE
LCEDA
MQTTX
Optimus Manager
akonadi
cocomusic
gedit
gtk-4.0
ibus/bus
kde.org
kdeconnect
khtml
latte
libaccounts-glib
qtvirtualkeyboard/pinyin
qv2ray
ranger/plugins/__pycache__
ranger/plugins/ranger_devicons
ranger/plugins/__init__.py
xournalpp
xsettingsd
QiMoProjectrc
QtCreatorrc
akonadiconsolerc
akregatorrc
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
bovorc
cantorrc
contactthemeeditorrc
device_automounter_kcmrc
discoverrc
dolphinrc
drkonqirc
emaildefaults
emailidentities
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kajonggrc
kalarmrc
katemetainfos
katerc
kateschemarc
katevirc
katomicrc
kblocksrc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kdialogrc
kfontinstuirc
kgammarc
kglobalshortcutsrc
khotkeysrc
kioslaverc
kmail2rc
kmetainformationrc
kmixctrlrc
kmixrc
konq_history
konquerorrc
konsolerc
korgacrc
krdcrc
kreversirc
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktelepathyrc
ktimezonedrc
ktuberlingrc
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
lattedockrc
okularpartrc
okularrc
phishingurlrc
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
powermanagementprofilesrc
sddmthemeinstallerrc
spectaclerc
steprc
systemsettingsrc
touchpadrc
trashrc
user-dirs.dirs
user-dirs.locale
webengineurlinterceptoradblockrc
nvim/plugged