
jesseduffield/lazygit/state.yml

/FreeCAD/
/autostart/
/chromium/
/coc/
/configstore/
/dconf/
/dingtalk/
/gtk-2.0/
/gtk-3.0/
/htop/
/lazygit/
/libreoffice/
/neofetch/
/netease-cloud-music/
/nitrogen/
/qBittorrent/
QtProject.conf
/fcitx/
/微信/
